body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    min-width: 1200px;
}

html {
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.diagonal-box{
    position: absolute;
    width: 100%;
    height: 500px;
    top: 0px;
    left: 0px;
    background-image: linear-gradient(0deg, #B0DEFF, #ADEBBE);
    z-index: -1;
} 

.diagonal-box::after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 100px;
    content: '';
    background: inherit;
    transform-origin: top left;
    transform: skewY(3deg);
    z-index: -1;
}

.top-div {
    /* border: 2px solid green; */
    width: 100%;
    position: absolute;
}

.home-header {
    /* border: 2px solid red; */
    font-family: 'Hind Vadodara', sans-serif;
    text-align: center;
    padding-top: 17%;
    font-size: 200%;
    line-height: 30%;
}

.home-header a {
    text-decoration: none;
    color: black;
}

.home-intro {
    /* border: 2px solid red; */
    text-align: center;
    font-size: 150%;
    margin: 0 auto;
    width: 50%;
}

.home-intro a {
    text-decoration: underline;
    color: #30475E;
}

ul#center-tabs {
    /* border: 2px solid orange; */
    position: relative;
    overflow: hidden;
    padding: 0;
	list-style-type: none;
    margin: 0px auto;
}

ul#center-tabs li {
    /* border: 2px solid pink; */
    border-radius: 5px;
    margin: 0px 4px;
    float: left;
}

ul#center-tabs li a {
    display: block;
    /* width: 120px;
    height: 40px; */
    line-height: 40px;
    text-align: center;
    font-size: large;
}

.home-tabs a {
    color: black;
    text-decoration: none;
}

.home-tabs a:hover {
    color: #30475E;
    text-decoration: underline;
    transform: scale(1.15);
    /* font-size: x-large; */
    font-weight: bold;
}

.home-tabs li {
    width: 120px;
    height: 40px;
}

.home-tabs ul {
    width: 660px;
    padding-top: 20px; /* remove this maybe */
}

.footer-container {
    /* border: 2px solid maroon; */
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 4;
}

.footer-links {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 180px;
    justify-content: space-around;
}

.footer-links a {
    color: black;
    text-decoration: none;
}

.footer-links a:hover {
    color: grey;
    transform: scale(1.15);

}

.footer-links ul {
    width: 94px;
    position: absolute;
    bottom: 0px;
}

.footer-links li {
    display: inline-block;
}

.name-container {
    position: absolute;
    /* border: 2px solid red; */
    width: 27%;
    top: 0;
    /* height: 150px; */
    height: 30%;
    display: flex;
    flex-direction: row-reverse;
}

.tab-container {
    /* border: 2px solid red; */
    position: absolute;
    height: 30%;
    width: 40%;
    right: 0;
    top: 0;
}

ul#table-tab {
    /* border: 2px solid purple; */
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    padding: 0;
    list-style-type: none;
    margin: 0px auto;
}

ul#table-tab li {
    display: flex;
    /* width: 100px; */
    width: 85px;
    height: 30px;
    border-radius: 18px;
    /* border: 2px solid black; */
    float: left;
    /* margin: auto auto; */
    margin: 0 4px;
    font-family: 'Hind Vadodara', sans-serif;

}

ul#table-tab a .fill{
    display: flex;
    width: 100px; 
    height: 30px;
    border-radius: 18px; 
    /* justify-content: center; */
    /* margin: auto auto; */
    flex: 0 0 auto;
    background-color: #B0E0A8;
}

ul#table-tab li:hover {
    /* background-color: #B0E0A8; */
}

ul#table-tab a:hover {
    transform: scale(1.15);
    transform-origin: center;
    font-weight: bold;
    text-decoration: underline;
}

ul#table-tab a {
    margin: auto auto;
    text-decoration: none;
    font-size: medium;
    color: black;
}

.bigger {
    transform: scale(1.45);
    transform-origin: center;
}

.name-button {
    /* border: 2px solid purple; */
    display: flex;
    position: absolute;
    font-size: xx-large;
    /* font-weight: bold; */
    font-family: 'Hind Vadodara', sans-serif;
    height: 45px;
    width: 160px;
    bottom: 0;
    right: 0;
}

.name-button a {
    margin: auto auto;
    display: block;
    text-decoration: none;
    color: black;
}

.center-container {
    /* border: 2px dotted orange; */
    margin: 8% auto;
    width: 40%;
    height: fit-content;
    padding: 10px;
}

.page-title {
    /* border: 2px solid green; */
}

.page-content-block {
    /* border: 2px dotted yellow; */
}

.page-content-block h1 {
    padding: 0;
    /* border: 2px solid blue; */
    margin-bottom: 0;
}

.project-block {
    /* border: 2px dotted green; */
    display: flex;
    flex-direction: column;
    /* padding: 13px 0; */
    padding-top: 0;
    padding-bottom: 13px;
    padding-left: 0;
    padding-right: 0;
}

.project-header {
    /* border: 2px solid blue; */
    margin: 5px 0;
}

.project-desc {
    /* border: 2px solid teal; */
    margin: 0;
    /* margin-bottom: -15px; */
}

.project-desc a {
    color: black;
    text-decoration: underline;
}

.section-header {
    /* border: 2px solid blue;  */
    margin: 0; 
    padding: 0;
}

.section-info {
    /* border: 2px solid red;  */
    font-size: larger;
    margin-top: 0;
    margin-bottom: 0;
}

.section-info a {
    color: black;
}

.back-to-top {
    /* border: 2px solid pink; */
    margin-top: 5px;
}

.back-to-top a {
    /* border: 2px dotted grey; */
    text-decoration: none;
    color: black;
}

.back-to-top a:hover {
    font-weight: bold;
}

.contact-link {
    font-weight: lighter;
}

.contact-link a {
    text-decoration: none;
    color: black;
}

.contact-link a:hover {
    /* font-weight: bold; */
    text-decoration: underline;
}

hr.rounded {
    border-top: 1px solid grey;
    background-color: transparent;
}
